{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div class="login-clean container">
    <form data-aos="fade-left" style='width:30vw;' enctype="multipart/form-data" data-aos-delay="600" method="post" novalidate>
        {% csrf_token %}
        <div class="illustration" >
            <h2>                    
                <i class="fa fa-lock"></i>
                Change Password
            </h2>        
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" style="margin-left:2px;"> 
                <div class="input-icon" data-aos="fade-left" data-aos-delay="1000">
                    <label  class="label-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                    {% if form.old_password.errors %}
                        <input class='form-control error' id='old_password' style="min-width:25vw; width:100%;"  type='password' name='old_password' placeholder='Old password'>
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <input class='form-control' id='old_password' style="min-width:25vw; width:100%;" type='password' name='old_password' placeholder='Old Password'>
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-md-6" style="margin-left:2px;"> 
                <div class="input-icon" data-aos="fade-left" data-aos-delay="1000">
                    <label  class="label-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                    {% if form.new_password1.errors %}
                        <input class='form-control error' id = 'password' style="max-width:100%; width:25vw;" type='password' name='new_password1' placeholder='New password'>
                        <div class="invalid-feedback">
                            {% for error in form.new_password1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <input class='form-control' id = 'password' style="min-width:25vw; width:100%;" type='password' name='new_password1' placeholder='New Password'>
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-md-6" style="margin-left:2px;"> 
                <div class="input-icon" data-aos="fade-left" data-aos-delay="1000">
                    <label  class="label-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                    {% if form.new_password2.errors %}
                        <input class='form-control error' id ='password' style="max-width:100%; width:25vw;" type='password' name='new_password2' placeholder='Confirm password'>
                        <div class="invalid-feedback">
                            {% for error in form.new_password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <input id = 'password' class='form-control' style="min-width:25vw; width:100%;" type='password' name='new_password2' placeholder='Confirm Password'>
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-actions" data-aos="fade-left">
                    <button style="margin-top:10px; width:25vw" type="submit" class="btn btn-default">
                        <i class="fa fa-check" aria-hidden="true"></i> Change password
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}