{% extends 'blog/index.html' %}
{% load static %}
{% block content %}
<div class="login-clean">
    <form data-aos="fade-left" style="max-width: 500px;" data-aos-delay="600" method="post" novalidate>
        {% csrf_token %}
        <div class="illustration">
            <h2>                    
                <i class="fa fa-lock"></i>
                Enter New Password
            </h2>        
        </div>
        <strong>Please enter your new password twice so we can verify you typed it in correctly.</strong>
        <div class="form-group">
            <div class="input-icon" data-aos="fade-left" data-aos-delay="1200">
                <label class="label-icon">
                    <i class="fa fa-lock"></i>
                </label>
                <span class="eye" onclick="hide('password','hide1','hide2')">
                    <i id="hide1" class="fa fa-eye"></i>
                    <i id="hide2" class="fa fa-eye-slash"></i>
                </span>
                {% if form.new_password1.errors %}
                    <input id="password" class='form-control error' type='password' name='new_password1' placeholder='New Password'>
                    <div class="invalid-feedback">
                        {% for error in form.new_password1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <input id="password" class='form-control' type='password' name='new_password1' placeholder='New Password'>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon" data-aos="fade-left" data-aos-delay="1200">
                <label class="label-icon">
                    <i class="fa fa-lock"></i>
                </label>
                <span class="eye" onclick="hide('con_password','hide3','hide4')">
                    <i id="hide3" class="fa fa-eye"></i>
                    <i id="hide4" class="fa fa-eye-slash"></i>
                </span>
                {% if form.new_password2.errors %}
                    <input id="con_password" class='form-control error' type='password' name='new_password2' placeholder='Confirm New Password'>
                    <div class="invalid-feedback">
                        {% for error in form.new_password2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <input id="con_password" class='form-control' type='password' name='new_password2' placeholder='Confirm New Password'>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div data-aos="fade-left" data-aos-delay="1400">
                <input class='btn btn-block' type='submit' value="Reset Password" name='submit'>
            </div> 
        </div>
    </form>
</div>
{% endblock content %}