{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

<div class="login-clean container">
    <form data-aos="fade-left" enctype="multipart/form-data" data-aos-delay="600" method="post" novalidate>
        {% csrf_token %}
        <div class="illustration" style='color:rgb(10, 255, 10);'>
            <h2>                    
                <i class="fa fa-check"></i>
                Password reset Mail Sent Successfully
            </h2>        
        </div>
        <strong>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </strong>
    </form>
  </div>
{% endblock content %}